[book]
title = "Mb2"
description = "A poker server and client, both written in Rust"
authors = ["Clifford T. Matthews"]
language = "en"
multilingual = false
src = "src"

[rust]
edition = "2018"

[output.html]
no-section-label = true

[output.html.fold]
enable = true

[output.html.redirect]
"series/wsop-style-2022.html" = "2022/wsop-style.html"
